# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
*.env

# Ignore virtual environment
venv/
.env/
.venv/

# Ignore system files
.DS_Store
.idea/
.vscode/

# Ignore Api keys
keys.txt